<div class="fading-side-menu" data-spy="affix" data-offset-top="350">
    <h5>Booking</h5><hr class="no-margin">
    <ul class="list-unstyled">
        <li>
            <a ng-click="scrollTo('calendar')">
                <span class="fa fa-angle-double-right text-primary"></span> Calendar
            </a>
        </li>
        <li>
            <a ng-click="scrollTo('pricing')">
                <span class="fa fa-angle-double-right text-primary"></span> Pricing
            </a>
        </li>
    </ul>
    <br>    
    <h5>Listing</h5><hr class="no-margin">
    <ul class="list-unstyled">
        <li>
            <a ng-click="scrollTo('basics')">
                <span class="fa fa-angle-double-right text-primary"></span> Basics
            </a>
        </li>
        <li>
            <a ng-click="scrollTo('description')">
                <span class="fa fa-angle-double-right text-primary"></span> Description
            </a>
        </li>
        <li>
            <a ng-click="scrollTo('location')">
                <span class="fa fa-angle-double-right text-primary"></span> Location
            </a>
        </li>
        <li>
            <a ng-click="scrollTo('amenities')">
                <span class="fa fa-angle-double-right text-primary"></span> Amenities
            </a>
        </li>
        <li>
            <a ng-click="scrollTo('photos')">
                <span class="fa fa-angle-double-right text-primary"></span> Photos
            </a>
        </li>
    </ul>
</div>