<ng-include src="'angular/_shared/_top-nav.html'"></ng-include>

<section class="search-filter">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h3>dates</h3>
			</div>
			<div class="col-md-2">
			  <label for="exampleInputPassword3">Arriving</label>
			  <p class="input-group">
			        <input type="text" class="form-control" ng-click="open($event, 'opened1')" min-date="DATE_TODAY" datepicker-popup="{{format}}" ng-model="checkin" is-open="opened1" datepicker-options="dateOptions" ng-change="changeDate(location, checkin, checkout)" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			  </p>
			</div>
			<div class="col-md-2">
			  <label for="exampleInputPassword3">Departing</label>
			 <p class="input-group">
			       <input type="text" class="form-control" ng-change="changeDate(location, checkin, checkout)" min-date="checkin" ng-click="open($event,'opened2')" datepicker-popup="{{format}}" ng-model="checkout" is-open="opened2" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			 </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h3>price</h3>
			</div>
			<div class="col-md-9">
				  <rzslider
				    rz-slider-floor="priceSlider.floor"
				    rz-slider-ceil="priceSlider.ceil"
				    rz-slider-model="priceSlider.min"
				    rz-slider-high="priceSlider.max"
				    rz-slider-translate="translate"></rzslider>

			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h3>room type</h3>
			</div>
			<div class="col-md-9">
				<ul class="list-inline">
					<li>
						<div class="btn btn-default" ng-click="filterRoomType('')"> All</div>
					</li>
					<li>
						<div class="btn btn-default" ng-click="filterRoomType('One Bedroom')"><span></span> One Bedroom</div>
					</li>
					<li>
						<div class="btn btn-default" ng-click="filterRoomType('Entire Home')"><span></span> Entire home/apt</div>
					</li>
					<li>
						<div class="btn btn-default" ng-click="filterRoomType('Family Home')"><span></span> Family</div>
					</li>
					<li>
						<div class="btn btn-default" ng-click="filterRoomType('Couch')"><span></span> Couch</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="search-results">
	<div class="container">
		<div class="row">
		<!-- end of left filter navbar -->

		<!-- search results -->
			<div class="col-md-12">
				<div class="search-results">
					<h4>location: {{location}}</h4>
					<p>Your search yielded {{filtered.length}} results. Enable filters to narrow your results.</p>
					
					<div ng-if="!filtered.length">
						<h3>There are currently no listings you requested. Please help spread the word!</h3>
					</div>
					<div class="row">
							<div ng-repeat="listing in filtered = (results
											| filter:{home_type:home_type}
											| filter:{price_cents: priceSlider.max}:max
											| filter:{price_cents: priceSlider.min}:min)" class="col-md-4 col-sm-4">
								<div class="thumbnail listing-thumbnail" ng-click="checkPlace(listing.id)">
									<img class="img-responsive" ng-src="{{listing.url}}">
									<div class="listing-price"><span>${{listing.price_cents}}</span></div>
									<div class="caption">
										<p>{{listing.title}}</p>
										<p class="room-type">{{listing.home_type}}</p>
									</div>
								</div>
							</div>

					</div>
				</div>
			</div>
		<!-- end of search results -->
		</div>
	</div>
</div>
